<div class="container">
    <div class="row">
        <form class="col-lg-2" action="#">
            <div class="form-group mt-3">
                <label for="fname" class="control-label ps-2">Nombre</label>
                <input type="text" class="form-control color-input" id="fname">
            </div>
            <div class="form-group mt-3">
                <label for="lname" class="control-label ps-2">Precio</label>
                <input type="number" class="form-control color-input" id="lname">
            </div>
            <div class="form-group mt-3">
                <label for="text" class="control-label ps-2">Descripcion</label>
                <input type="text" class="form-control color-input" id="email">
            </div>
            <div class="form-group mt-3">
                <label class="control-label ps-2">Categoria</label>
                <select class="form-select color-input" aria-label="Default select example">
                    <option disabled>Categoria</option>
                    <option value="1">Belleza facial</option>
                    <option value="2">Belleza corporal</option>
                    <option value="3">Manicura y pedicura</option>
                  </select>
            </div>
            <div class="form-group mt-3">
                <label for="text" class="control-label ps-2">Imagen</label>
                <input type="text" class="form-control color-input" id="email">
            </div>
            <div class="form-group mt-3">
                <label class="control-label ps-2">Profesional</label>
                <select class="form-select color-input" aria-label="Default select example">
                    
                    <option disabled>Profesional</option>
                    <option value="1">Ricardina</option>
                    <option value="2">Maria</option>
                    <option value="3">Dana</option>
                  </select>
            </div>
            <button type="submit" class="btn mt-4">Cargar</button>
        </form>
    </div>
</div>
