<div class="container">
    <div class="row">
        <form class="col-lg-2" action="#">
            <div class="form-group">
                <label for="fname" class="control-label">Nombre</label>
                <input type="text" class="form-control" id="fname" placeholder="First name">
            </div>
            <div class="form-group">
                <label for="lname" class="control-label">Precio</label>
                <input type="number" class="form-control" id="lname" placeholder="Last name">
            </div>
            <div class="form-group">
                <label for="email" class="control-label">Descripcion</label>
                <input type="email" class="form-control" id="email" placeholder="Your email">
            </div>
            <div class="form-group">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Categoria</option>
                    <option value="1">Belleza facial</option>
                    <option value="2">Belleza corporal</option>
                    <option value="3">Manicura y pedicura</option>
                  </select>
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="email" class="form-control" id="password" placeholder="Your password">
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
</div>
