.color-input{
    background-color: #EBEBEB;
    border-radius: 5vw;
}
.control-label{
    font-family: 'poppins';
}
.btn{
    background-color: #C8ECCB;
    border-radius: 5vw;
}
.color-tabla{
    background-color: #9F9F9F;
}