.my-pagination::ng-deep .ngx-pagination a {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  }
  
  /* sets font color for number color when hovering */
  .my-pagination::ng-deep .ngx-pagination a:hover {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  }
  
  /* sets font color for disabled previous or next words */
  .my-pagination::ng-deep .ngx-pagination .disabled {
  color: rgb(0, 0, 0) !important;
  }
  .my-pagination::ng-deep .ngx-pagination .current{
      background-color: #bb8588;
  }


.color-input{
    background-color: #EBEBEB;
    border-radius: 5vw;
}
.control-label{
    font-family: 'poppins';
}
.btn{
    background-color: #C8ECCB;
    border-radius: 5vw;
}
.color-tabla{
    background-color: #EFEFEF;
}
.option{
    font-family: 'poppins';
}
.color-paginator{
    background-color: #EFEFEF;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .texto{
    font-family: 'Poppins', sans-serif;
  }
  
  ::ng-deep .mat-mdc-form-field, .mat-mdc-floating-label{
    background-color: #C8ECCB !important;
  
  }
  ::ng-deep .mat-mdc-cell{
    font-family: 'Poppins';
  }
  
  ::ng-deep .mat-mdc-form-field-bottom-align{
    background-color: #EFEFEF !important;
  }
  .input-icon {
      color: #191919;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 12px;
      top: 50%; 
      left: 98%;
      transform: translateY(-50%);
  }
  .btn-sm{
    border-color: #EFEFEF;
    background-color: #EFEFEF;
    border: 0;
    
  }

  ::ng-deep .btn2{
    border-radius: 5vw !important;
    background-color: #C8ECCB !important;
    margin-left: 1rem !important;
    font-family: 'Poppins' !important;
  }

  .btn3{
    border-radius: 5vw;
    background-color: #F8EDEB;
  }

  .swal2-styled.swal2-confirm {
    background-color: #C8ECCB;
  }

  ::ng-deep .btn-danger{
    border-radius: 5vw !important;
    font-family: 'Poppins' !important;
    background-color: rgb(224, 89, 89);
  }

  ::ng-deep .btn-sweetalert{
    background-color: #BB8588;
    border-radius: 5vw;
    font-family: 'Poppins';
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  ::ng-deep .btn-sweetalert:hover{
    background-color: #8f5c5f;
    border-radius: 5vw;
    font-family: 'Poppins';
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .busqueda{
    border-radius: 5vw;
    background-color: #EBEBEB;
    border-color: #EBEBEB;
    font-family: Poppins,sans-serif;
    
  }