<div class="container" style="margin-top:50px;margin-bottom:50px;">
    <div class="row">
        <h1 class="titulo fs-3 mb-5">Manicuria</h1>
        <div class="col-md-3 me-5" *ngFor="let servicio of listaServicios">
            <div class="card-sl">
                <div class="card-image">
                    <img src="{{servicio.imagen}}" />
                </div>

                <div class="card-heading">
                    {{servicio.titulo}}
                </div>
                <div class="card-text-a">
                    <a href="" data-bs-toggle="modal" [attr.data-target]="'#modal'+servicio.id">Saber más</a>
                    <app-modal-saber-mas [modalId]="'modal'+servicio.id"></app-modal-saber-mas>
                  
                    
                    <!-- Modal -->
              
                
                </div>
                <div class="card-text">
                    {{(servicio.precio).toLocaleString("es-AR", { style: "currency", currency: "ARS" })}}
                </div>
                <a href="#" class="card-button"> Sacar turno</a>
              </div>
            </div>
        </div>
    </div>  
