<div class="container" style="margin-top:50px;margin-bottom:50px;">
    <div class="row">
        <h1 class="titulo">Manicuria</h1>
        <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img src="../../../../../assets/img-card-servicio/manicuria-rusa.jpg" />
                </div>

                <div class="card-heading">
                    Manicuria Rusa
                </div>
                <div class="card-text-a">
                    <a href="">Saber más</a>
                </div>
                <div class="card-text">
                    $2.000
                </div>
                <a href="#" class="card-button"> Sacar turno</a>
            </div>
        </div>
    </div>  
