<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card color-card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title">Datos personales</h1>
                    <h5>Nombre:</h5>
                    <h5>Apellido:</h5>
                    <h5>Numero de telefono:</h5>
                    <h5>Email:</h5>
                    <h5>DNI:</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card color-card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title">Domicilio</h1>
                    <h5>Direccion:</h5>
                    <h5>Codigo postal:</h5>
                    <h5>Provincia:</h5>
                    <h5>Localidad:</h5>
                </div>
            </div>
        </div>
    </div>
</div>
