<div class="container-fluid mt-2">
    <div class="row">
        <!--card de datos personales-->
        <div class="col-lg-4 col-12 col-sm-12 col-md-6">
            <div *ngIf="userData" class="card color-card tamaño-card">
                <div class="card-body">
                    <!--titulo-->
                    <h1 class="card-title">Datos personales</h1>
                    <!--textos con la informacion-->
                    <h5>Nombre: {{userData.nombre}}</h5>
                    <h5>Apellido: {{userData.apellido}}</h5>
                    <h5>Numero de telefono:</h5>
                    <h5>Email: {{userData.email}}</h5>
                    <h5>DNI:</h5>
                </div>
            </div>
        </div>
        <!--card con los datos del domicilio-->
        <div class="col-lg-4 col-12 col-sm-12 col-md-6">
            <div class="card color-card tamaño-card">
                <div class="card-body">
                    <h1 class="card-title">Domicilio</h1>
                    <h5>Direccion:</h5>
                    <h5>Codigo postal:</h5>
                    <h5>Provincia:</h5>
                    <h5>Localidad:</h5>
                </div>
                
            </div>
            <button class="btn btn-primary mt-2">Cambiar datos</button>
        </div>
    </div>
</div>
