<div class="container">
    <div class="row">
        <div class="col-lg-9 mt-4">
          <!--tambla para mostrar las compras-->
            <table class="table table-bordered">
                <thead>
                  <!--fila con los titulos de la tabla-->
                  <tr >
                    <th class="color-tabla" scope="col">#</th>
                    <th class="color-tabla" scope="col">Nombre</th>
                    <th class="color-tabla" scope="col">Precio</th>
                    <th class="color-tabla" scope="col">Fecha</th>
                    <th class="color-tabla" scope="col">Envio</th>
                    <th class="color-tabla" scope="col">Metodo de pago</th>
                  </tr>
                </thead>
                <tbody>
                  <!--fila con la informacion de las compras-->
                  <tr>
                    <th class="color-tabla" scope="row">1</th>
                    <th class="color-tabla" scope="row">Protector solar</th>
                    <td class="color-tabla" >$2000</td>
                    <td class="color-tabla" >09/12/18</td>
                    <td class="color-tabla" >Entregado</td>
                    <td class="color-tabla">Efectivo</td>
                  </tr>
                  
                </tbody>
              </table>
           </div>
    </div>
</div>
