
  <div class="modal-content contenido">
    <div class="modal-header encabezado">
        <h4 class="modal-title pull-left m-0 titulo">{{ titulo }}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- Display card details here -->
        <p class="descripcion">{{ descripcion }}</p>
        <!-- Add any other card details you want to display -->
        <div class="pt-1 text-end">
          <button class="btn btn-lg btn-block fs-6 boton-close" type="button" (click)="bsModalRef.hide()">Cerrar</button>
        </div>
    </div>
  </div>

    
      