<div class="contenedor texto">
  <mat-stepper class="prueba" #stepper>
    <mat-step  errorMessage="Complete el medio de pago">
   
        <ng-template matStepLabel class="texto">Datos del envio</ng-template>
        <div>
          <app-datos-de-envio></app-datos-de-envio>
          
          <button mat-button matStepperNext class="texto">Siguiente</button>
        </div>

    </mat-step>


    <mat-step  errorMessage="Complete los datos">
      <form >
        <ng-template matStepLabel>Medio de pago</ng-template>
       
        <div>
          <app-medio-de-pago></app-medio-de-pago>
          <button mat-button matStepperPrevious class="texto">Atras</button>
          <button mat-button matStepperNext class="texto">Siguiente</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <app-finalizar-pedido></app-finalizar-pedido>
      <div>
        <button mat-button matStepperPrevious class="texto">Atras</button>
        <button mat-button (click)="stepper.reset()" class="texto">Reiniciar</button>
        <button mat-button class="texto">Finalizar compra</button>
      </div>
    </mat-step>
</mat-stepper>
</div>

  
  