<div class="contenedor">
  <mat-stepper class="prueba" #stepper>
    <mat-step  errorMessage="Complete el medio de pago">
   
        <ng-template matStepLabel>Medio de pago</ng-template>
        <div>
          <app-medio-de-pago></app-medio-de-pago>
          <button mat-button matStepperNext>Siguiente</button>
        </div>

    </mat-step>


    <mat-step  errorMessage="Complete los datos">
      <form >
        <ng-template matStepLabel>Datos del envio</ng-template>
       <app-datos-de-envio></app-datos-de-envio>
        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <app-finalizar-pedido></app-finalizar-pedido>
      <div>
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button (click)="stepper.reset()">Reiniciar</button>
      </div>
    </mat-step>
</mat-stepper>
</div>

  
  