<div class="card mb-3 ">
    <div class="row g-0">
      <div class="col-md-3">
        <img src="../../../../../assets/img-lista-productos/crema.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-9 texto">
        <div class="card-body">
          <h3 class="card-title"><strong>Crema Dermaglos</strong></h3>
          <h4 class="card-text precio">$3.600</h4>
          <button type="button" class="btn boton">editar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 ">
    <div class="row g-0">
      <div class="col-md-3">
        <img src="../../../../../assets/img-lista-productos/crema.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-9 texto">
        <div class="card-body">
          <h3 class="card-title"><strong>Protector solar Dermaglos</strong></h3>
          <h4 class="card-text precio">$5.500</h4>
          <button type="button" class="btn boton">editar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 ">
    <div class="row g-0">
      <div class="col-md-3">
        <img src="../../../../../assets/img-lista-productos/crema.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-9 texto">
        <div class="card-body">
          <h3 class="card-title"><strong>Crema Nivea</strong></h3>
          <h4 class="card-text precio">$2.600</h4>
          <button type="button" class="btn boton">editar</button>
        </div>
      </div>
    </div>
  </div>
