.contenedor{
    min-height: 100vh;
    background-color: #FCD5CE;
}

.bg{
    background-color: #FCD5CE;
}
.cardslogin{
    width: 30vw;
    height:40vw;
    border-radius: 5vw;
    margin:auto;
    display: flex;
    justify-content: center;
    background-color: white;
    
}

.logolida{
    width: 5vw;
    height: 5vw;
    margin-top: 4vw;
    margin: auto;
    padding: 0px;
}

.btn{
    background-color: #C8ECCB;
    border-radius:2vw;
}
input{
    background-color: #EBEBEB;
    font-size: 0.8rem;
    border-radius: 1rem;
    font-family: 'Poppins';
}
label{
    font-family: 'Poppins'; 
}
button{
    font-family: 'Poppins'; 
}
img{
    width: 2rem;
    height: 2rem;
}
h1{
    font-family: 'Poppins';  
}

.buttonIn {
    display: flex;
}
.input-flex{
    flex:1;
}
.password-btn{

    border:0px;
    background-color: transparent;
    flex: 2;
   
}

.mensaje-error{
    color:red;
    font-size: 0.8rem;
}
/*login responsive */
@media only screen and (max-width: 600px) {
    .cardslogin{
        background-color: white;
        width: 100%;
        height: 54vw;
        border-radius: 5vw;
    }
    .logolida{
        width: 5vw;
        height: 5vw;
        margin-top: 4vw;
        margin: auto;
        padding: 0px;
    }
}
@media only screen and (min-width: 600px) {
    .cardslogin{
        background-color: white;
        width: 100%;
        height: 54vw;
        border-radius: 5vw;
    }
    .logolida{
        width: 5vw;
        height: 5vw;
        margin-top: 4vw;
        margin: auto;
        padding: 0px;
    }
}
@media only screen and (max-width: 768px) {
    .cardslogin{
        background-color: white;
        width: 100%;
        height: 40vw;
        border-radius: 5vw;
    }
    .logolida{
        width: 6vw;
        height: 6vw;
        margin-top: 4vw;
        margin: auto;
        padding: 0px;
    }
}
@media only screen and (max-width: 1200px) {
    .cardslogin{
        background-color: white;
        width: 30vw;
        height: 40vw;
    }
    .logolida{
        width: 12vw;
        height: 12vw;
        margin-top: 4vw;
        margin: auto;
        padding: 0px;
    }
}


