<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-lg-3">
            <form  action="#">
                <div class="form-group mt-3">
                    <label for="fname" class="control-label ps-2 texto">Nombre</label>
                    <input type="text" class="form-control color-input" id="nombre" placeholder="Ingrese el nombre del producto">
                </div>
                <div class="form-group mt-3">
                    <label for="lname" class="control-label ps-2 texto">Precio</label>
                    <input type="number" class="form-control color-input" id="precio" placeholder="Ingrese el precio del producto">
                </div>
                <div class="form-group mt-3">
                    <label for="text" class="control-label ps-2 texto">Descripcion</label>
                    <input type="text" class="form-control color-input" id="descripcion" placeholder="Ingrese descripcion del producto">
                </div>
                <div class="form-group mt-3">
                    <label class="control-label ps-2 texto">Categoria</label>
                    <select class="form-select color-input" aria-label="Default select example">
                        <option class="option texto" disabled selected>Seleccione una opcion</option>
                        <option class="option texto"  value="1">Belleza facial</option>
                        <option class="option texto"  value="2">Belleza corporal</option>
                        <option class="option texto"  value="3">Manicura y pedicura</option>
                      </select>
                </div>
                <div class="form-group mt-3">
                    <label for="text" class="control-label ps-2 texto">Imagen</label>
                    <input type="text" class="form-control color-input" id="" placeholder="Ingrese url de la imagen">
                </div>
                <div class="form-group mt-3">
                    <label for="text" class="control-label ps-2 texto">Stock</label>
                    <input type="number" class="form-control color-input" id="" placeholder="Ingrese stock disponible del producto">
                </div>
                
                <button type="submit" class="btn mt-4 texto btn1">Cargar</button>
            </form>
        </div>
        <div class="col-lg-9">
            <table datatable  [dtOptions]="dtOptions" class="table table-boredered texto fondo">
                <thead>
                    <tr >
                      <th class="color-tabla" scope="col">Nombre</th>
                      <th class="color-tabla" scope="col">Precio</th>
                      <th class="color-tabla" scope="col">Descripcion</th>
                      <th class="color-tabla" scope="col">Categoria</th>
                      <th class="color-tabla" scope="col">Stock</th>
                      <th class="color-tabla"  scope="col">Imagen</th>
                      <th class="color-tabla"  scope="col">Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="color-tabla" scope="row">Hydro Cream</th>
                      <td class="color-tabla" >$3200</td>
                      <td class="color-tabla" ><a href="">Ver mas</a></td>
                      <td class="color-tabla" >Cremas</td>
                      <td class="color-tabla" >...</td>
                      <td class="color-tabla" ><a href="">View Image</a></td>
                      <td class="color-tabla" >
                        <button type="button" class="btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                <path d="M16 5l3 3"></path>
                             </svg>
                           </button>
                           <button type="button" class="btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 7l16 0"></path>
                                <path d="M10 11l0 6"></path>
                                <path d="M14 11l0 6"></path>
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                             </svg>
                           </button>
                      </td>
                    </tr>
                    
                  </tbody>
              </table>
        </div>
    </div>
    
</div>
