.texto{
    font-family: 'Poppins', sans-serif;
  }
  .btn{
    background-color: #C8ECCB;
  }
  .color-input{
    border-radius: 1vw;
    background-color: #EBEBEB;
  }
  .label{
    font-family: 'Poppins', sans-serif;
  }
 .color-tabla{
    background-color: #EBEBEB;
 }
 .boton{
    border: 0vw;
 }
