<!--primer paso del stepper-->

<!--ingrese su codigo postal-->
<div class="card mb-3 form-check container-fluid" style="max-width: 540px;">
  <div class="card-body">
    <h4 class="card-title texto">Ingrese su codigo postal</h4>
    <!--input para ingresar cp-->
    <div class="row">
      <div class="col-md-8">
        <input type="text" class="form-control  input-cp" placeholder="codigo postal">
      </div>

      <!--boton para confirmar cp-->
      <div class="col-md-2">
        <button type="button" class="btn boton-confirmar">
          <mat-icon class="icon-confirmar">check_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>


<!--card envio a domicilio-->
<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
  <div class="row g-0">
    <!--seleccionar-->
    <div class="col-md-1 div-selector">
      <input class="form-check-input position-absolute top-50 start-10 translate-middle-y  selector" type="radio"
        name="flexRadioDefault" id="">
    </div>
    <!--imagen-->
    <div class="col-md-3 div-imagen">
      <img src="../../../../../assets/img-medio-de-envio/envio.png" class="img-fluid m-2  imagen" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <!--informacion-->
        <h4 class="card-title texto">Envio a domicilio clasico</h4>
        <p class="card-text texto">$1.853 - 3 a 6 dias habiles</p>
      </div>
    </div>
  </div>
</div>


<!--card envio a sucursal-->
<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
  <div class="row g-0">
    <div class="col-md-1 div-selector">
      <input class="form-check-input position-absolute top-50 start-10 translate-middle-y  selector" type="radio"
        name="flexRadioDefault" id="">
    </div>
    <div class="col-md-3 div-imagen">
      <img src="../../../../../assets/img-medio-de-envio/envio.png" class="img-fluid m-2  imagen" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title texto">Envio a sucursal</h4>
        <p class="card-text texto">llega a la sucursal mas cercana</p>
      </div>
    </div>
  </div>
</div>


<!--card retiro por el local-->
<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
  <div class="row g-0">
    <div class="col-md-1 div-selector">
      <input class="form-check-input position-absolute top-50 start-10 translate-middle-y  selector" type="radio"
        name="flexRadioDefault" id="">
    </div>
    <div class="col-md-3 div-imagen">
      <img src="../../../../../assets/img-medio-de-envio/envio.png" class="img-fluid m-2  imagen" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title texto">Retiro por el local</h4>
        <p class="card-text texto">lunes a viernes de 8 a 20hs</p>
      </div>
    </div>
  </div>
</div>