<!--ingrese su codigo postal-->
<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
  <div class="row g-0">
    <div class="col-md-12">
      <h4 class="card-title texto">Ingrese su codigo postal</h4>
    </div>
  </div>

  <div class="row g-0">
    <!--input para poner el cp-->
    <div class="card-body col-md-8">
      <input type="text">
    </div>
    <!--boton para confirmar cp-->
    <div class="card-body col-md-4 container-fluid">
      <button type="button" title="Editar" class="btn boton-confirmar">
        <mat-icon>check_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</div>


<!--envio a domicilio-->
<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
  <div class="row g-0">
    <div class="col-md-1 div-selector">
      <input class="form-check-input position-absolute top-50 start-10 translate-middle-y  selector" type="radio"
        name="flexRadioDefault" id="">
    </div>
    <div class="col-md-3 div-imagen">
      <img src="../../../../../assets/img-medios-de-pago/transferencia.png" class="img-fluid m-2  imagen" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title texto">Envio a domicilio clasico</h4>
        <p class="card-text texto">$1.853 - 3 a 6 dias habiles</p>
      </div>
    </div>
  </div>
</div>


<!--envio a sucursal-->
<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
  <div class="row g-0">
    <div class="col-md-1 div-selector">
      <input class="form-check-input position-absolute top-50 start-10 translate-middle-y  selector" type="radio"
        name="flexRadioDefault" id="">
    </div>
    <div class="col-md-3 div-imagen">
      <img src="../../../../../assets/img-medios-de-pago/transferencia.png" class="img-fluid m-2  imagen" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title texto">Envio a sucursal</h4>
        <p class="card-text texto">llega a la sucursal mas cercana</p>
      </div>
    </div>
  </div>
</div>


<!--retiro por el local-->
<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
  <div class="row g-0">
    <div class="col-md-1 div-selector">
      <input class="form-check-input position-absolute top-50 start-10 translate-middle-y  selector" type="radio"
        name="flexRadioDefault" id="">
    </div>
    <div class="col-md-3 div-imagen">
      <img src="../../../../../assets/img-medios-de-pago/transferencia.png" class="img-fluid m-2  imagen" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title texto">Retiro por el local</h4>
        <p class="card-text texto">lunes a viernes de 8 a 20hs</p>
      </div>
    </div>
  </div>
</div>