
p{
    margin:0;
    padding: 0;
}

.navbar {
    background-color: rgb(248, 237, 235);

}


.colorNav {
    background-color: rgb(248, 237, 235);

}
.nav-link{
    padding-top: 1.5vw;
}

.tamañoimagen {
    width: 4vw;
    height: auto;
}

.separacionbotones {
    margin-left: 3vw;
    margin-right: 3vw;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* remove the gap so it doesn't close */
    background-color: rgb(248, 237, 235);

}

@media screen and (max-width: 1000px) {
    .tamañoimagen {
        display: none;
    }
}