<div class="navbar" >
    <mat-toolbar class="alinear colorNav">
        <button  mat-button routerLink="/">
           Inicio
       </button>
       <mat-menu #appMenu="matMenu">
           <button mat-menu-item>Cremas</button>
           <button mat-menu-item>Serum</button>
         </mat-menu>
         
         <button  mat-button routerLink="/productos" >
           Productos
       </button>
       <button mat-button>
           Servicios
       </button>
       <span class="example-spacer"></span>
       <img class="tamañoimagen separacionbotones" src="../assets/imgNavbar/logo7.png" alt="">
       <button mat-button routerLink="auth/login">
           Log In
       </button>
       <button mat-button routerLink="auth/register" >
           Registrarse
       </button>
       <button mat-button>
           <mat-icon>shopping_cart</mat-icon>
           0
       </button>
     </mat-toolbar>
</div>