
<nav class="navbar navbar-expand-lg colorNav">
        <div class="container-fluid centrarnav">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active align-middle separacionBotones" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle separacionBotones" routerLink="/productos" aria-expanded="false">
                      Productos
                    </a>
                    <ul class="dropdown-menu dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/productos">Cremas</a></li>
                      <li><a class="dropdown-item" routerLink="/productos">Jabon</a></li>
                      <li><a class="dropdown-item" routerLink="/productos">Mascarillas</a></li>
                    </ul>
                  </li>
              
              <li class="nav-item">
                <a class="nav-link separacionBotonesEspecial" routerLink="/servicios" >Servicios</a>
              </li>
              <a class="navbar-brand separacionBotones imagenPadding" href="#"><img class="tamañoImagen" src="../../../../assets/imgNavbar/logo7.png" alt=""></a>
              <li class="nav-item separacionBotones">
                <a class="nav-link" routerLink="/admin">Administrador</a>
              </li>
              <li class="nav-item separacionBotones">
                <a class="nav-link" routerLink="auth/login">Login</a>
              </li>
              <li class="nav-item separacionBotones">
                <a class="nav-link pe-4" routerLink="auth/register">Registrarse</a>
              </li>
              <li class="nav-item align-middle p-0 ">
                <a class="nav-link align-middle pe-0" routerLink="carrito"><mat-icon>shopping_cart</mat-icon></a>
              </li>
              <li class="nav-item align-middle">
                <a class="nav-link align-middle ps-0">0</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
