
p{
    margin:0;
    padding: 0;
}
a{
    font-family: Poppins;
}

.navbar {
    background-color: rgb(248, 237, 235);

}

.pointer{
    cursor:pointer;
}

.colorNav {
    background-color: rgb(248, 237, 235);

}
.nav-link{
    padding-top: 1.5vw;
}

.tamañoImagen {
    width: 4vw;
    height: auto;
}

.separacionBotones {
    margin-left: 2vw;
    margin-right: 2w;
}
.separacionBotonesEspecial{
    margin-left: 3vw;
    margin-right: 2vw;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* remove the gap so it doesn't close */
    background-color: rgb(248, 237, 235);
    font-size: 0.8rem;
    width: 3vw;
    height:6rem;

}
::ng-deep .btn-sweetalert{
    background-color: #BB8588;
    border-radius: 5vw;
    font-family: 'Poppins';
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
@media screen and (max-width: 1000px) {
    .tamañoImagen {
        display: none;
    }
    .separacionBotones {
        margin:0px;
    }
    .separacionBotonesEspecial{
        margin:0px
    }
    .imagenPadding{
        padding:0px
    }
    
}