.navbar{
    background-color: rgb(248, 237, 235);
    display:table;
  
   
    width: 100%;
   
}
.tamañoimagen{
   width: 50px;
   height: auto; 
}
.separacionbotones{
    margin-left:50px;
    margin-right: 50px;
}

button{
    margin: 10px;
}

.alinear{
    /* text-align: center;
    display: inline-block;
    width: 100%;
    position: top; */
    display: table-cell;

    vertical-align: middle;
    text-align: center;

}