<div class="container-flex me-5 ms-5 mb-5">
    <!--primer contenedor-->
    <div  data-aos="fade-right" data-aos-once="true" data-aos-delay="200" data-aos-offset="1000" data-aos-duration="10000" class="row primerContenedor">
        <div class="col-lg-6 pe-0 contenedorPrincipal">
            
            <!--primer borde de la izquierda-->
            <div class="contenedorBorde">

            </div>

            <!--primera imagen de la izquierda-->
            <div class="contenedorImagen">
                <img class="float-left imageLeft" src="../../../../../assets/imagenes/info-image.jpg" alt="Image floating left">
            </div>
           
        </div>
        <!--primer card de info a la izquierda-->
        <div class="col-lg-6 ps-0 pe-0">
            
            <div class="contenedorText">
                <h4 class="text-center fs-4">¿Quiénes somos?</h4>
                <p class=" textFont float-end textRight fs-6 pt-4 mt-2">Nuestra estética abarca muchas áreas de la cosmetología y belleza en mujeres y hombres. Podrás encontrar todo lo necesario para sentirte especial y conforme con tu cuerpo. En nuestro espacio buscamos que te sientas cómodo y tranquilo, que sea un lugar de relajación.</p>
                <p class=" textFont float-end textRight fs-6">Nuestro negocio surgió en el año 2023. Con mucho entusiasmo y motivación con el equipo decidimos abrir este lugar para ustedes. Somos cuatro personas las encargadas en buscar tu bienestar. </p>
            </div>
        </div>
    </div>
    <div  data-aos="fade-up" data-aos-once="true" data-aos-delay="200" data-aos-offset="1000" data-aos-duration="10000" class="row mb-5 mt-5">
        <!--segundo contenedor-->
        <div class="col-lg-6 ps-0 pe-0">

            <!--segunda card de info a la derecha-->

            

            <div class="contenedorText2">
                <h4 class="text-center fs-4">¿Qué ofrecemos?</h4>
                <p class=" textFont float-end fs-6 pt-4 mt-2 textRight">En Lida contamos con productos y tratamientos para el cuidado de tu cuerpo. Son naturales, libres de aceites y veganos. Podras comprar productos para el rostro, para el cuerpo, para manos y para pies, de acuerdo a la necesidad que tenga tu piel. </p>
                <p class=" textFont float-end textRight fs-6">Además, contamos con profesionales de la salud que te brindaran información y tratamientos manuales o con aparatología para mejorar el aspecto físico que desees. Cuidá y mejorá tu rostro, tu cuerpo, tus manos y tus pies. </p>
            </div>
        </div>
        <div class="col-lg-6 ps-0 contenedorPrincipal">
            
            <!--segundo borde a la derecha-->
            <div class="contenedorBorde2">

            </div>

            <!--segunda imagen a la derecha-->
            <div class="contenedorImagen2">
                <img class="float-left imageRight" src="../../../../../assets/imagenes/info-image2.jpg" alt="Image floating left">
            </div>
           
        </div>
    </div>
</div>



