
.imageLeft{
    width:40vw;
    height:30vw;
    margin-left: 5vw;
    margin-top: 4vw;
    /*
    outline: 1px solid #FFB5A7;
    outline-offset: -4px;
    */
}

.contenedorText{
    background-color: #F8EDEB;
    display: block;
    width: 100%;
    height: 87.6%;
    margin-top: 4vw;
    border-radius: 0 8vw 8vw 0;
    
}
.contenedorText2{
    background-color: #FCD5CE;
    display: block;
    width: 100%;
    height: 88.4%;
    margin-top: 4vw;
    border-radius: 8vw 0 0 8vw;
    
}
.contenedorPrincipal{
    position:relative;
  
}

.contenedorPrueba{
    border: 2px solid #FFB5A7;
    border-radius: 2.5vw;
    position:absolute;

    width: 100%;
    height: 87%;
    margin-top:2.5vw;
    margin-left:1vw;
    
}
.contenedorPrueba2{
    border: 2px solid #BB8588;
    border-radius: 2.5vw;
    position:absolute;

    width: 100%;
    height: 87%;
    margin-top:2.5vw;
    margin-left:1vw;
    
}

.textRight{
    margin-left: 2vw;
    margin-top: 0; 
}

.textFont{
    font-family: 'Lora', serif;
}

@media only screen and (max-width: 600px) {
    .imageLeft{
        width:100%;
        height:auto;
        margin-left:0;
    }
    .textRight{
        margin-left: 0;
        margin-top: 4vw; 
    }
    
    .contenedorText{
        background-color: #F8EDEB;
        display: block;
        width: 100%;
        height: 87.6%;
        margin-top: 4vw;
        border-radius: 0 0 0 0;
        
    }
    .contenedorPrueba{
        border: 2px solid #FFB5A7;
        border-radius: 2.5vw;
        position:absolute;
    
        width: 100%;
        height: 87%;
        margin-top:2.5vw;
        margin-left:1vw;
        
    }
} 
@media only screen and (min-width: 600px) {
    .imageLeft{
        width:100%;
        height:auto;
        margin-left:0;
    }
    .textRight{
        margin-left: 0;
        margin-top: 4vw; 
    }
    .contenedorPrincipal{
        position:relative;
        padding-left: 0;
    }

    .contenedorText{
        background-color: #F8EDEB;
        display: block;
        width: 100%;
        height: 87.6%;
        margin-top: 0;
        border-radius: 0 0 0 0;
        
    }
    .contenedorPrueba{
        display:none;
        border: 2px solid #FFB5A7;
        border-radius: 2.5vw;
        position:absolute;
    
        width: 100%;
        height: 87%;
        margin-top:2.5vw;
        margin-left:1vw;
        
    }
} 

@media only screen and (min-width: 768px) {
    .imageLeft{
        width:100%;
        height:auto;
        margin-left:0;
    }
    .textRight{
        margin-left: 0;
        margin-top: 4vw; 
    }
    .contenedorPrueba{
        display:none;
        border: 2px solid #FFB5A7;
        border-radius: 2.5vw;
        position:absolute;
        display:none;
        width: 100%;
        height: 87%;
        margin-top:2.5vw;
        margin-left:1vw;
        
    }
} 


@media only screen and (min-width: 992px) {
    .contenedorText{
        background-color: #F8EDEB;
        display: block;
        width: 100%;
        height: 87.6%;
        margin-top: 4vw;
        border-radius: 0 8vw 8vw 0;
        padding: 0 1.5vw 1.5vw 1.5vw;
        
    }
    .contenedorText2{
        background-color: #FCD5CE;
        display: block;
        width: 100%;
        height: 88.4%;
        margin-top: 4vw;
        border-radius: 8vw 0 0 8vw;
        padding: 0 1.5vw 1.5vw 1.5vw;
    }

    .contenedorPrincipal{
        position:relative;
      
    }
    
    .contenedorPrueba{
        display: block;
        border: 2px solid #FFB5A7;
        border-radius: 2.5vw;
        position:absolute;
    
        width: 100%;
        height: 87%;
        margin-top:2.5vw;
        margin-left:1vw;
        
    }

   
    
}
@media only screen and (min-width: 1200px) {
   
    
}
