<div class="container-flex m-5">
    <div class="row">
        <div class="col-lg-6">
            <img class="float-left imageLeft" src="../../../../../assets/imagenes/info-image.jpg" alt="Image floating left">
        </div>
        <div class="col-lg-6">
            <p class=" float-end textRight fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis modi, nobis porro nostrum quos nulla optio et nisi dolor placeat ipsum fugiat alias. Itaque quasi odio quia laudantium aliquid iste ipsam, eligendi repellendus reiciendis eos quam laborum suscipit nam rem, et eveniet error est incidunt eius? Dicta.</p>
            <p class=" float-end textRight fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis modi, nobis porro nostrum quos nulla optio et nisi dolor placeat ipsum fugiat alias. Itaque quasi odio quia laudantium aliquid iste ipsam, eligendi repellendus reiciendis eos quam laborum suscipit nam rem, et eveniet error est incidunt eius? Dicta.</p>
        </div>
    </div>
    
    
</div>



