<div class="container-flex m-5">
    <div class="row primerContenedor">
        <div class="col-lg-6 pe-0 contenedorPrincipal">
            

            <div class="contenedorPrueba">

            </div>


            <div class="contenedorImagen">
                <img class="float-left imageLeft" src="../../../../../assets/imagenes/info-image.jpg" alt="Image floating left">
            </div>
           
        </div>
        <div class="col-lg-6 ps-0 pe-0">
            <div class="contenedorText">
                <p class=" textFont float-end textRight fs-6 pt-4 mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis modi, nobis porro nostrum quos nulla optio et nisi dolor placeat ipsum fugiat alias. Itaque quasi odio quia laudantium aliquid iste ipsam, eligendi repellendus reiciendis eos quam laborum suscipit nam rem, et eveniet error est incidunt eius? Dicta.</p>
                <p class=" textFont float-end textRight fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis modi, nobis porro nostrum quos nulla optio et nisi dolor placeat ipsum fugiat alias. Itaque quasi odio quia laudantium aliquid iste ipsam, eligendi repellendus reiciendis eos quam laborum suscipit nam rem, et eveniet error est incidunt eius? Dicta.</p>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5">
        
        <div class="col-lg-6 ps-0 pe-0">
            <div class="contenedorText2">
                <p class=" textFont float-end fs-6 pt-4 mt-5 textRight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis modi, nobis porro nostrum quos nulla optio et nisi dolor placeat ipsum fugiat alias. Itaque quasi odio quia laudantium aliquid iste ipsam, eligendi repellendus reiciendis eos quam laborum suscipit nam rem, et eveniet error est incidunt eius? Dicta.</p>
                <p class=" textFont float-end textRight fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis modi, nobis porro nostrum quos nulla optio et nisi dolor placeat ipsum fugiat alias. Itaque quasi odio quia laudantium aliquid iste ipsam, eligendi repellendus reiciendis eos quam laborum suscipit nam rem, et eveniet error est incidunt eius? Dicta.</p>
            </div>
        </div>
        <div class="col-lg-6 ps-0 contenedorPrincipal">
            

            <div class="contenedorPrueba2">

            </div>


            <div class="contenedorImagen2">
                <img class="float-left imageRight" src="../../../../../assets/imagenes/info-image2.jpg" alt="Image floating left">
            </div>
           
        </div>
    </div>
</div>



