<div class="container text-center mx-auto m-4">

    <div class="row justify-content-md">
        <div class="col-lg-12 col-md-6 col-sm-6 col-xl-3">
            <div class="card" style="width: 18rem;border-radius: 1.5vw; background-color: #F8EDEB;">
                <img src="../../../../../assets/img-card-producto/crema.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Manicura Rusa</h5>
                  <a href="/"style="color: #FFB5A7;">Saber mas</a>
                  
                  <button class="btn" style="background-color:#FFB5A7 ;">Sacar turno</button>
                </div>
            </div>
            
        </div>
        
        
        <div class="col-lg-12 col-md-6 col-sm-6 col-xl-3">
            <div style="background-color: #F8EDEB;" class="cards-servicios">
                <img class="imagen-1" src="../../../../../assets/img-card-producto/serum.png" alt="">   
                <h6 class="fs-6 mt-1 ">Serum</h6>
                <p class="text-center fw-light">$3400</p>
            </div> 
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6 col-xl-3">
            <div style="background-color: #F8EDEB;" class="cards-servicios">
                <img class="imagen-1" src="../../../../../assets/img-card-producto/protector.png" alt="">   
                <h6 class="fs-6 mt-1 ">Protector solar</h6>
                <p class="text-center fw-light">$1800</p>
            </div> 
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6 col-xl-3">
            <div style="background-color: #F8EDEB;" class="cards-servicios">
                <img class="imagen-1" src="../../../../../assets/img-card-producto/crema.png" alt="">   
                <h6 class="fs-6 mt-1 ">Crema</h6>
                <p class="text-center fw-light">$4600</p>
            </div> 
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6 col-xl-3">
            <div style="background-color: #F8EDEB;" class="cards-servicios">
                <img class="imagen-1" src="../../../../../assets/img-card-producto/serum.png" alt="">   
                <h6 class="fs-6 mt-1 ">Serum</h6>
                <p class="text-center fw-light">$3400</p>
            </div> 
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6 col-xl-3">
            <div style="background-color: #F8EDEB;" class="cards-servicios">
                <img class="imagen-1" src="../../../../../assets/img-card-producto/protector.png" alt="">   
                <h6 class="fs-6 mt-1 ">Protector solar</h6>
                <p class="text-center fw-light">$1800</p>
            </div> 
        </div>
    </div>

</div>
