.colornav{
    background-color: rgb(248, 237, 235);
}
.tamañoimagen{
   width: 50px;
   height: auto; 
}
.separacionbotones{
    margin:100px
}

button{
    margin: 10px;
}

.alinear{
    text-align: center;
    display: inline-block;
    width: 100%;
}
