<div class="container mt-5 mb-5">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.position}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.cliente}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="pago">
            <th mat-header-cell *matHeaderCellDef> Pago </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.pago}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.fecha}} </td>
          </ng-container>

          <ng-container matColumnDef="metodopago">
            <th mat-header-cell *matHeaderCellDef> Metodo de pago </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.metodopago}} </td>
          </ng-container>

          <ng-container matColumnDef="metodoenvio">
            <th mat-header-cell *matHeaderCellDef> Metodo de envio </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.metodoenvio}} </td>
          </ng-container>

          <ng-container matColumnDef="envio">
            <th mat-header-cell *matHeaderCellDef> Envio </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.envio}} </td>
          </ng-container>

          <ng-container matColumnDef="costoenvio">
            <th mat-header-cell *matHeaderCellDef> Costo del envio </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.costoenvio}} </td>
          </ng-container>

          <ng-container matColumnDef="montoTotal">
            <th mat-header-cell *matHeaderCellDef> Monto </th>
            <td mat-cell *matCellDef="let cliente"> {{cliente.montoTotal}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator class="color-paginator" [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic clientes">
        </mat-paginator>
       
      </div>
      
</div>
