<div class="container-flex footer">
  <footer class=" text-center " style="background-color:#f8edeb;">
    <div class="container text-center text-md-start ">
  
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- columna de redes sociales -->
              <h6 class="text-uppercase fs-6 mb-2 ">
                Redes Sociales
              </h6>
              <p>
                <!--redireccionan a nuestras redes sociales-->
                <a href="https://www.instagram.com/lida.accesorios/" class="text-reset"><img class="logo-ig" src="../../../../assets/img-footer/instagram.png" alt=""></a>
                <a href="https://twitter.com/elonmusk" class="text-reset"><img class="logo-tw" src="../../../../assets/img-footer/twitter.png" alt=""></a>             
                <a href="https://www.facebook.com/" class="text-reset"><img class="logo-fb" src="../../../../assets/img-footer/facebook.png" alt=""></a>
              </p>
            </div>
    
            <!--columna con logo y texto de lida-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
             <img  class="logo mx-auto d-block" src="../../../../assets/img-footer/logo.png" alt="">
                <p class="text-uppercase fs-5 mb-2  text-center">L I D A</p>
            </div>
    
            <!--columna con links de contacto -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-md-end me-0">
              <!--numero de telefono, mail y direccion-->
              <h6 class="text-uppercase fs-6 mb-1">Contactos</h6>
              <a href="https://chat.whatsapp.com/KBqjyaEbljI0wMGfj3cpFR" class="text-reset"> <img class="logo-wpp" src="../../../../assets/img-footer/whatsapp.png" alt="">2996102457</a>
              <br>

              <a href="mailto:lida.equipo@gmail.com" class="text-reset"> <img class="logo-correo" src="../../../../assets/img-footer/correo.png" alt="">lida.equipo@gmail.com</a>

              <h6 class="text-uppercase fs-6 mb-1 mt-3">Donde encontrarnos</h6>
              <a href="https://goo.gl/maps/y1WzE3UaUGaWXpe37" class="text-reset"> <img class="logo-ubicacion" src="../../../../assets/img-footer/ubicacion.png" alt="">Paraguay 1050, Cipolletti</a>

              
            </div>
            <!-- Grid column -->
          </div>
  
    </div>
    <!-- Grid container -->
    <marquee behavior="alternate" direction="left"></marquee>
  
  </footer>
  <!-- Footer -->
</div>