<div class="container-flex footer">
    
    <!-- Footer -->
<footer class=" text-center " style="background-color:#f8edeb;">
    <!-- Grid container -->
    <div class="container p-4 text-center text-md-start ">
  
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fs-6 mb-2 fw-bold">
                Redes Sociales
              </h6>
              <p>
                <a href="https://www.instagram.com/lida.accesorios/" class="text-reset"><img class="logo-ig" src="../../../../assets/img-footer/instagram.png" alt=""></a>
             
                <a href="https://twitter.com/elonmusk" class="text-reset"><img class="logo-tw" src="../../../../assets/img-footer/twitter.png" alt=""></a>
              
                <a href="https://www.facebook.com/" class="text-reset"><img class="logo-fb" src="../../../../assets/img-footer/facebook.png" alt=""></a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <img  class="logo mx-auto d-block" src="../../../../assets/img-footer/logo.png" alt="">
              <p class="text-uppercase fs-6 mb-2 fw-bold text-center">L I D A</p>
            </div>
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
              <p>
                <i class="fas fa-envelope me-3 text-secondary"></i>
                info@example.com
              </p>
              <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
  
    </div>
    <!-- Grid container -->
  
  </footer>
  <!-- Footer -->
</div>