html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h6{
    font-family: Poppins;
}


p{
    margin: 0;
}
/*
#footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height:10vw;
    background-color: #F8EDEB;
}
*/
.logo-ig{
    width: 3vw;
    height: 3vw;
}
.logo-tw{
    width: 2.5vw;
    height: 2.5vw;
}
.logo-fb{
    width: 3vw;
    height: 3vw;
}
.footer {
    position: absolute;
    /*bottom: 0;*/
    width: 100%;
    height: 10vw;
    background-color: #F8EDEB;
    
}
.logo{
    width: 5vw;
    height: 5vw;
}
.logo-wpp{
    width: 1vw;
    height: 1vw;
}
.logo-correo{
    width: 0.8vw;
    height: 0.8vw;
    margin-right: 0.2vw;
}
.logo-ubicacion{
    width: 1vw;
    height: 1vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #footer{
        position: absolute;
        bottom: 0;
        width:100%;
        height:30vw;
        background-color: #F8EDEB;
    }
    .logo-ig{
        width: 8vw;
        height: 8vw;
    }
    .logo-tw{
        width: 7vw;
        height: 7vw;
    }
    .logo-fb{
        width: 8vw;
        height: 8vw;
    }
}


@media only screen and (min-width: 600px) {
    
} 


@media only screen and (min-width: 768px) {
   
} 

@media only screen and (min-width: 1200px) {
   
}