/*.page-title {
    position: absolute;
    bottom:4rem;
    left: 0;
    padding: 20px;
    padding-right: 100px;
    border-radius: 0 10rem 1.3rem 0;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    z-index: 1;
  }
 */
 #carouselContainer {
  position: relative;
}
.gradient-text{
  font-family:"Abril Fatface", sans-serif;
  background: rgb(255,181,167);
  background: linear-gradient(90deg, rgba(255,181,167,1) 0%, rgba(248,237,235,1) 35%, rgba(200,236,203,1) 100%);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
 
  color:rgba(0,0,0,1);
  font-size:10rem;
  width:80vw;
  margin:30vh auto;
  display:block;
  text-align:center;
  transition: color .2s ease-in-out;
  text-transform:uppercase;
  font-weight:900;
}
.gradient-text:hover{
  color:rgba(0,0,0,0);
}
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

#carouselTitle {
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  color: rgb(32, 32, 32);
  background-color: white;
  font-size: 24px;
  padding: 20px;
  padding-right: 8rem;
  border-radius: 0 10rem 1.3rem 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}
  h1{
    font-family: 'Poppins';
    padding-top: 0.5rem;
    padding-left:1rem
  }

  .twelve h1 {
      letter-spacing:1px; 
      text-transform:uppercase; 
      width:13rem; 
      text-align:center; 
      margin:auto; 
      white-space:nowrap; 
      padding-bottom:13px;
     
  }
  .twelve h1:before {
      background-color: #C8ECCB;
      content: '';
      display: block;
      position:absolute; left:0; top:0.5rem;
      height: 3px;
      width: 75px;
      margin-bottom: 20px;
  }
  .twelve h1:after {
      background-color: #C8ECCB;
      content: '';
      display: block;
     position:absolute; right:0; bottom:0;
      height: 3px;
      width: 75px;
      margin-bottom: 0.25em;
  }

  .carousel-control-prev,
.carousel-control-next {
  height: 25%;
  top: 37.5%;
};
@media only screen and (max-width: 600px) {
  .page-title {
    display: none; /* Oculta el título en dispositivos móviles */
  }
} 

@media only screen and (min-width: 600px) {
  .page-title {
    display: none; /* Oculta el título en dispositivos móviles */
  }
} 

  @media (max-width: 1000px) {
    .page-title {
      display: none; /* Oculta el título en dispositivos móviles */
    }

    #carouselTitle{
      display:none;
    }
  }