.card-estilo{
    background-color: #C8ECCB;
    border-radius: 1.2vw;
    padding-top: 1vw;
   /* align-items: center;*/
    text-align: start;
  
}
.card-imagen{
    width: 80%;
    height: 80%;
    border-radius: 0.5vw;
}

.card-titulo{
    font-size: 1.3vw;
    font-family:'Poppins';
}
.card-precio{
    font-size:1.3vw;
    font-family: 'Poppins';
    color: #BB8588;
    text-align: start !important; 
}
.card-descripcion{
    color: #282828;
    font-family: 'Lora';
}

.card-boton{
    background-color: #BB8588;
    border-color:#BB8588;
    border-radius: 2vw;
    font-family: 'Poppins';
    margin-left:12vw;
}

@media only screen and (max-width: 600px) {
    .cards-productos{
        border-radius: 1.2vw;
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        
    }
    .imagen-1{
        margin-top: 2.5vw;
        width: 18vw;
        height: 18vw;
    }
} 


@media only screen and (min-width: 600px) {
    .cards-productos{
        border-radius: 1.2vw;
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        
    }
    .imagen-1{
        margin-top: 2.5vw;
        width: 18vw;
        height: 18vw;
    }
} 


@media only screen and (min-width: 768px) {
    .cards-productos{
        border-radius: 1.2vw;
        opacity: 1;
        transition: 0.3s;
        
    }
    .imagen-1{
        margin-top: 2.5vw;
        width: 18vw;
        height: 18vw;
    }
} 

@media only screen and (min-width: 1200px) {
    .cards-productos{
        border-radius: 1.2vw;
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
    .imagen-1{
        margin-top: 2.5vw;
        width: 14vw;
        height: 14vw;
    }
}
