<div class="container-flex m-4 mx-auto">
    <div class="row mx-auto">
        <div class="col-lg-4 col-12 col-sm-12  text-lg-start  ">
            <h2 class=" fs-2 mt-4 ms-3 mb-0">Productos</h2>
        </div>
        <div class="col-lg-4 col-12 col-sm-12 text-lg-center barra tamaño-barra input-wrapper">
            <!--input para filtrar y buscar los productos-->
            <input [(ngModel)]="busqueda" class="form-control busqueda me-2" type="text" placeholder="Buscar" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
            </svg>
        </div>
        <div class="col-lg-2 col-6 col-sm-6 text-lg-end barra align-items-end tamaño-filtros">
            <!--select para filtrar por precio-->
            <select class="form-select filtros" id="floatingSelect" aria-label="Floating label select example">
                <option selected>Precio</option>
                <option value="1">Mayor precio</option>
                <option value="2">Menor precio</option>
              </select>
        </div>
        <div class="col-lg-2 col-6 col-sm-6 text-lg-end barra tamaño-filtros">
            <!--select para filtrar por categoria-->
            <select [(ngModel)]="filtro" class="form-select filtros " id="floatingSelect" aria-label="Floating label select example">
                <option value="" selected>Todos</option>
                <option  value="cremas">Cremas</option>
                <option value="jabones">Jabones</option>
                <option value="maquillajes">Maquillajes</option>
                <option value="mascarillas">Mascarillas</option>
              </select>
        </div>
    </div>
</div>

<hr>


<!--card-->
<div class="container mt-4 mb-4">
    <div class="row mx-auto justify-content-center align-items-center">
        <!--mostrar los detalles de cada producto-->
        <div class="col-lg-4 col-12 col-sm-6 mt-4 mb-3" *ngFor="let producto of listaProductos |customFilter:busqueda |customFilter:filtro ">
            <div class="card card-estilo" style="width: 20rem;">
                <img [src]="producto.imagen" class="card-img-top card-imagen mx-auto" alt="...">
                <div class="card-body">
                  <h5 class="card-title card-titulo text-start">{{producto.nombre}}</h5>
                  <p class="card-text text-start fw-light card-descripcion">{{producto.descripcion}}</p>
                  <p class="card-text card-precio text-start">{{producto.precio.toLocaleString("es-AR", { style: "currency", currency: "ARS" })}}</p>
                  <a href="#" class="btn btn-primary card-boton" routerLink="/carrito">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div> 