h2{
    font-family: Poppins,sans-serif;
}
/* Single-direction drop shadow */
/* Gradient transparent - color - transparent */

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.filtros{
    background-color: #bb8588;
    color: white;
    border-radius: 5vw;
    border-color: #bb8588;
    font-family: Poppins,sans-serif;
    
}

.barra{
    padding-top: 1.5vw;
    
}

.tamaño-filtros{
    width: 12vw;
}

.tamaño-text{
    width: 15vw;
}

/*
.tamaño-barra{
    width: 12vw;
}*/

.busqueda{
    border-radius: 5vw;
    background-color: #f8edeb;
    border-color: #f8edeb;
    font-family: Poppins,sans-serif;
    
}


.input-icon {
	color: #191919;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 12px;
    top: 69%; 
    left: 85%;
	transform: translateY(-50%);
}

.input-wrapper {
	position: relative;
    
}







@media only screen and (max-width: 600px) {
    .tamaño-filtros{
        width: 50vw;
        margin-top: 1vw;
    }
    .input-icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 55%;
        left: 88%;
        transform: translateY(-50%);
    }
} 


@media only screen and (min-width: 600px) {
    .tamaño-filtros{
        width: 50vw;
    }
    .input-icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 55%;
        left: 88%;
        transform: translateY(-50%);
    }
} 


@media only screen and (min-width: 768px) {  
    .tamaño-filtros{
        width: 18vw;
    }
    .input-icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 55%;
        left: 94%;
        transform: translateY(-50%);
    }

} 
@media only screen and (min-width: 1000px) {  
    .tamaño-filtros{
        width: 13vw;
    }
    .input-icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 60%;
        left: 87%;
        transform: translateY(-50%);
    }

} 

@media only screen and (min-width: 1200px) {    
    .input-wrapper {
        position: relative;
        width: 25vw;
    }
    .input-icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 69%; 
        left: 85%;
        transform: translateY(-50%);
    }
    .tamaño-filtros{
        width: 12vw;
    }
    
}
.card-estilo{
    background-color: #C8ECCB;
    border-radius: 1.2rem;
    padding-top: 1rem;
   /* align-items: center;*/
    text-align: start;
    margin: 0 auto;
  
}
.card-imagen{
    width: 80%;
    height: 80%;
    border-radius: 0.5rem;
}

.card-titulo{
    font-size: 1.3rem;
    font-family:'Poppins';
}
.card-precio{
    font-size:1.3rem;
    font-family: 'Poppins';
    color: #BB8588;
    text-align: start !important; 
}
.card-descripcion{
    color: #282828;
    font-family: 'Lora';
}

.card-boton{
    background-color: #BB8588;
    border-color:#BB8588;
    border-radius: 2rem;
    font-family: 'Poppins';
    margin-left:12rem;
}

@media only screen and (max-width: 600px) {
    .card-estilo{
        background-color: #C8ECCB;
        border-radius: 1.2rem;
        padding-top: 2.5rem;
       /* align-items: center;*/
        text-align: start;
        margin: 0 auto;
      
    }
    .card-imagen{
        width: 80%;
        height: 80%;
        border-radius: 0.5rem;
    }
    
    .card-titulo{
        font-size: 1.3rem;
        font-family:'Poppins';
    }
    .card-precio{
        font-size:1.3rem;
        font-family: 'Poppins';
        color: #BB8588;
        text-align: start !important; 
    }
    .card-descripcion{
        color: #282828;
        font-family: 'Lora';
    }
    
    .card-boton{
        background-color: #BB8588;
        border-color:#BB8588;
        border-radius: 2rem;
        font-family: 'Poppins';
        margin-left:12rem;
    }
} 


@media only screen and (min-width: 600px) {
    .cards-productos{
        border-radius: 1.2rem;
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        
    }
    .imagen-1{
        margin-top: 2.5rem;
        width: 18rem;
        height: 18rem;
    }
} 


@media only screen and (min-width: 768px) {
    .cards-productos{
        border-radius: 1.2rem;
        opacity: 1;
        transition: 0.3s;
        
    }
    .imagen-1{
        margin-top: 2.5rem;
        width: 18rem;
        height: 18rem;
    }
} 

@media only screen and (min-width: 1200px) {
    .card-estilo{
        background-color: #C8ECCB;
        border-radius: 1.2rem;
        padding-top: 1rem;
       /* align-items: center;*/
        text-align: start;
        margin: 0 auto;
      
    }
    .card-imagen{
        width: 80%;
        height: 80%;
        border-radius: 0.5rem;
    }
    
    .card-titulo{
        font-size: 1.3rem;
        font-family:'Poppins';
    }
    .card-precio{
        font-size:1.3rem;
        font-family: 'Poppins';
        color: #BB8588;
        text-align: start !important; 
    }
    .card-descripcion{
        color: #282828;
        font-family: 'Lora';
    }
    
    .card-boton{
        background-color: #BB8588;
        border-color:#BB8588;
        border-radius: 2rem;
        font-family: 'Poppins';
        margin-left:12rem;
    }
}
