.cards-estaticas{
    background-color: black;
    width: 14vw;
    height: 18vw;
    border-radius: 1.2vw;
    opacity: 1;
    transition: 0.3s;
    
}
.cards-estaticas:hover {
    width:15vw;
    height: 19vw;
    -webkit-box-shadow: 2px 10px 20px -10px rgba(0,0,0,0.43);
    -moz-box-shadow: 2px 10px 20px -10px rgba(0,0,0,0.43);
    box-shadow: 2px 10px 20px -10px rgba(0,0,0,0.43);
}

.imagen-1{
    width: 5vw;
}