<div class="container m-4">
    <div class="row">
        <div class="col-lg-4">
            <h2 class=" fs-2 mt-4 ms-3 mb-0">Servicios</h2>
        </div>
        <!--
        <div class="col-lg-4">
            
         
            <input class="form-control me-2" type="search"   aria-label="Search">
            
        </div>-->
        <form class="example-form col-lg-4">
            <mat-icon-button>search</mat-icon-button>
            <mat-form-field class="example-full-width">
                
              <input type="search" matInput >
              
            </mat-form-field>
        </form>
          
    </div>
</div>

<hr>