h2{
    font-family: Poppins,sans-serif;
}
/* Single-direction drop shadow */
/* Gradient transparent - color - transparent */

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.barra{
    padding-top: 1.5vw;
    
}

.filtros{
    background-color: #bb8588;
    color: white;
    border-radius: 5vw;
    border-color: #bb8588;
    font-family: Poppins,sans-serif;
    
}

.tamaño-filtros{
    width: 12vw;
}

.tamaño-text{
    width: 15vw;
}

.busqueda{
    border-radius: 5vw;
    background-color: #f8edeb;
    border-color: #f8edeb;
    font-family: Poppins,sans-serif;
    
}


.input-icon {
	color: #191919;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 12px;
    top: 69%; 
    left: 85%;
	transform: translateY(-50%);
}

.input-wrapper {
	position: relative;
	width: 25vw;
}