<section class="vh-120 gradient-custom">
  <div class="container py-4 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-5">
        <div class="card shadow-2-strong card-registration" style="border-radius: 5rem;">
          <div class="card-body p-4 p-md-5">
              
            <form>
                
              <div class="row">
                
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="firstName">Nombre</label>
                    <input  [(ngModel)]='usuarios.nombre' matInput required type="text" id="firstName" class="form-control form-control-lg" />
                    
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="lastName">Apellido</label>
                    <input  [(ngModel)]='usuarios.apellido' matInput required type="text" id="lastName" class="form-control form-control-lg" />
                    
                  </div>

                </div>
              </div>

              

              <div class="row">
                <div class="mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Email</label>
                    <input  [(ngModel)]='usuarios.email' matInput required type="email" id="emailAddress" class="form-control form-control-lg" />
                    
                  </div>

                </div>
              </div>
              <div class="row">
                <div class=" mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Contraseña</label>
                    <input  [(ngModel)]='usuarios.contrasena' matInput required type="password" id="password" class="form-control form-control-lg" />
                    
                  </div>
                  

                </div>
              </div>
              <div class="row">
                <div class="mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Confirmar Contraseña</label>
                    <input type="password" id="emailAddress" class="form-control form-control-lg" />
                    
                  </div>
                </div>
              </div>
              

              <div class="pt-1 mb-4 text-center">
                <button (click)="registrarse()" class="btn btn-lg btn-block text-uppercase fs-6" type="button">Registrarse</button>
              </div>
              <a href="/login"style="color: #393f81;">¿Ya tienes una cuenta?</a>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>