.gradient-custom {
    /* fallback for old browsers */
    background: #FCD5CE;
    
    }
    
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.btn{
    background-color: #C8ECCB;
    border-radius:2vw;
}


.logolida{
    width: 5vw;
    height: 5vw;
    margin-top: 4vw;
    margin: auto;
    padding: 0px;
}
input{
    background-color: #EBEBEB;
    font-size: 1rem;
    border-radius: 1rem;
    
}