.gradient-custom {
    /* fallback for old browsers */
    background: #FCD5CE;
    
    }
    
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.btn{
    background-color: #C8ECCB;
    border-radius:2vw;
}


.logolida{
    width: 5vw;
    height: 5vw;
    margin-top: 4vw;
    margin: auto;
    padding: 0px;
}
input{
    background-color: #EBEBEB;
    font-size: 0.8rem;
    border-radius: 1rem;
    font-family: 'Poppins';
}
label{
    font-family: 'Poppins'; 
}
img{
    width: 2rem;
    height: 2rem;
}
h1{
    font-family: 'Poppins';  
}
button{
    font-family: 'Poppins'; 
}
.buttonIn {
    display: flex;
}
.input-flex{
    flex:1;
}
.password-btn{

    border:0px;
    background-color: transparent;
    flex: 2;
   
}

.mensaje-error{
    color:red;
    font-size: 0.8rem;
}