<section class="vh-120 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 5rem;">
          <div class="card-body p-4 p-md-5">
              
            <form>

              <div class="row">
                <div class="col-12">
                  <div class="d-flex align-items-center mb-5 pb-1 ">
                    <img class="logolida mt-4" src="../../../../../assets/imgNavbar/logo7.png" alt="">
                </div>
                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="firstName">Nombre</label>
                    <input type="text" id="firstName" class="form-control form-control-lg" />
                    
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="lastName">Apellido</label>
                    <input type="text" id="lastName" class="form-control form-control-lg" />
                    
                  </div>

                </div>
              </div>

              

              <div class="row">
                <div class="col-md-6 mb-4 pb-2 align-items-center">

                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Email</label>
                    <input type="email" id="emailAddress" class="form-control form-control-lg" />
                    
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Contraseña</label>
                    <input type="email" id="emailAddress" class="form-control form-control-lg" />
                    
                  </div>
                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Confirmar Contraseña</label>
                    <input type="email" id="emailAddress" class="form-control form-control-lg" />
                    
                  </div>

                </div>
              </div>

              

              <div class="col-12 text-center">
                <input class="btn" type="submit" value="Submit" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>