<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <table class="table table-bordered">
                <thead>
                  <tr >
                    <th class="color-tabla" scope="col">#</th>
                    <th class="color-tabla" scope="col">Nombre</th>
                    <th class="color-tabla" scope="col">Precio</th>
                    <th class="color-tabla" scope="col">fecha</th>
                    <th class="color-tabla" scope="col">profecional</th>
                    <th class="color-tabla" scope="col">Metodo de pago</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="color-tabla" scope="row">1</th>
                    <th class="color-tabla" scope="row"></th>
                    <td class="color-tabla" ></td>
                    <td class="color-tabla" ></td>
                    <td class="color-tabla" ></td>
                    <td class="color-tabla"></td>
                  </tr>
                  
                </tbody>
              </table>
           </div>
    </div>
</div>

