<div class="container">
    <div class="row">
      <!--tabla de los turnos-->
        <div class="col-lg-9 mt-4">
            <table class="table table-bordered">
                <thead>
                  <!--fila con los titulos de la tabla-->
                  <tr >
                    <th class="color-tabla" scope="col">#</th>
                    <th class="color-tabla" scope="col">Nombre</th>
                    <th class="color-tabla" scope="col">Precio</th>
                    <th class="color-tabla" scope="col">fecha</th>
                    <th class="color-tabla" scope="col">profecional</th>
                    <th class="color-tabla" scope="col">Metodo de pago</th>
                  </tr>
                </thead>
                <tbody>
                  <!--fila con la informacion de la tabla-->
                  <tr>
                    <th class="color-tabla" scope="row">1</th>
                    <th class="color-tabla" scope="row">Manicuria</th>
                    <td class="color-tabla" >4000</td>
                    <td class="color-tabla" >09/12/18</td>
                    <td class="color-tabla" >Dana</td>
                    <td class="color-tabla">MercadoPago</td>
                  </tr>
                  
                </tbody>
              </table>
           </div>
    </div>
</div>

