<div class="container">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
        <label class="form-check-label" for="flexRadioDefault1">
          Transferencia bancaria
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
        <label class="form-check-label" for="flexRadioDefault2">
          Mercado pago
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
        <label class="form-check-label" for="flexRadioDefault2">
          Efectivo
        </label>
    </div>
</div>

<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
    <div class="row g-0">
        <div class="col-md-1 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
        </div>
      <div class="col-md-3">
        <img src="../../../../../assets/img-medios-de-pago/transferencia.png" class="img-fluid m-2  imagen" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title texto">Transferencia bancaria</h4>
          <p class="card-text texto">Enviar comprobante a nuestro email.</p>
        </div>
      </div>
    </div>
  </div>

