<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
  <div class="row g-0">
    <div class="col-md-1 ">
      <input class="form-check-input position-absolute top-50 start-10 translate-middle-y  selector" type="radio" name="flexRadioDefault" id="">
    </div>
    <div class="col-md-3">
      <img src="../../../../../assets/img-medios-de-pago/transferencia.png" class="img-fluid m-2  imagen" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title texto">Transferencia bancaria</h4>
        <p class="card-text texto">Enviar comprobante a nuestro email.</p>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
  <div class="row g-0">
    <div class="col-md-1 ">
      <input class="form-check-input position-absolute top-50 start-10 translate-middle-y  selector" type="radio" name="flexRadioDefault" id="">
    </div>
    <div class="col-md-3">
      <img src="../../../../../assets/img-medios-de-pago/transferencia.png" class="img-fluid m-2  imagen" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title texto">Mercado pago</h4>
        <p class="card-text texto">Recargo del 10%</p>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
  <div class="row g-0">
    <div class="col-md-1 ">
      <input class="form-check-input position-absolute top-50 start-10 translate-middle-y  selector" type="radio" name="flexRadioDefault" id="">
    </div>
    <div class="col-md-3">
      <img src="../../../../../assets/img-medios-de-pago/transferencia.png" class="img-fluid m-2  imagen" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title texto">Efectivo</h4>
        <p class="card-text texto">20% de descuento.</p>
      </div>
    </div>
  </div>
</div>