/*color del stepper*/
.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #BB8588;
    --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
    --mat-tab-header-pagination-icon-color: #000;
    --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-active-label-text-color: #BB8588;
    --mat-tab-header-active-ripple-color: #BB8588;
    --mat-tab-header-inactive-ripple-color: #BB8588;
    --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-active-focus-label-text-color: #BB8588;
    --mat-tab-header-active-hover-label-text-color: #BB8588;
    --mat-tab-header-active-focus-indicator-color: #BB8588;
    --mat-tab-header-active-hover-indicator-color: #BB8588;
}
.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--mat-tab-header-active-label-text-color);
}