.color-input{
    background-color: #EBEBEB;
    border-radius: 5vw;
}
.busqueda{
    border-radius: 5vw;
    background-color: #EBEBEB;
    border-color: #EBEBEB;
    font-family: Poppins,sans-serif;
}
.texto{
    font-family: 'Poppins', sans-serif;
  }