<!--revisar envio-->
<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
    <div class="card-body">
        <h4 class="card-title texto">ENVIO</h4>

        <ul class="list-group list-group-flush">
            <li class="list-group-item texto"><strong>USUARIO: </strong>Pepita</li>
            <li class="list-group-item texto"><strong>METODO: </strong>Retiro por el local</li>
            <li class="list-group-item texto"><strong>RETIRA: </strong>Pepita</li>
        </ul>
    </div>
</div>

<!--revisar pago-->
<div class="card mb-3 form-check container-fluid" style="max-width: 540px; ">
    <div class="card-body">
        <h4 class="card-title texto">PAGO</h4>

        <ul class="list-group list-group-flush">
            <li class="list-group-item texto"><strong>METODO: </strong>Efectivo</li>
        </ul>
    </div>
</div>

