<div class="container-flex mt-5 mb-5 separador">
    <div class="text-center ">
        <div class="row ">
          <div class="col-lg-4">
            <img src="../../../../../assets/img-separador/icono-caja.png" alt="" srcset="" class="logos">
            <h3 class="fs-6 texto">Envio gratis</h3>
          </div>

          <div class="col-lg-4">
            <img src="../../../../../assets/img-separador/icono-ubicacion.png" alt="" srcset="" class="logos">
            <h3 class="fs-6 texto">Envios a todo el pais</h3>
          </div>

          <div class="col-lg-4">
            <img src="../../../../../assets/img-separador/icono-tarjeta.png" alt="" srcset="" class="logos">
            <h3 class="fs-6 texto">Todos los medios de pago</h3>
          </div>

        </div>
    </div>
</div>
