.separador {
    width: 100%;
    height: 11vw;
    background-color: #C8ECCB;
    padding-top: 1.5vw;
}
.logos{
    width: 4vw;
    height: 4vw;
}
.texto{
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 600px) {
    .separador{
        height: 18vw;
    }
    
}

@media only screen and (min-width: 600px) {
    .separador{
        height: 18vw;
    }
}

@media only screen and (max-width: 768px) {
    .separador{
        height: 15vw;
    }
}

@media only screen and (min-width: 1200px) {

    .separador{
        height: 11vw;
    }
    .logos:hover{
        width:4.5vw;
        height: 4.5vw;
        transition: 0.3s;
    }
}