<div class="container-fluid mt-5 separador">
    <div class="text-center ">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                <img src="../../../../../assets/img-separador/icono-tarjeta.png" alt="" srcset="" class="logoTarjeta">
                <h3 class="fs-6 texto">Todos los medios<br> de pago</h3>
              </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
            <img src="../../../../../assets/img-separador/icono-caja.png" alt="" srcset="" class="logos">
            <h3 class="fs-6 texto">Envio gratis</h3>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
            <img src="../../../../../assets/img-separador/icono-ubicacion.png" alt="" srcset="" class="logos">
            <h3 class="fs-6 texto">Envios a todo <br> el pais</h3>
          </div>

        </div>
    </div>
</div>

